/* Initialize */
* {
	margin: 0;
	padding: 0;
}

/* General setup */
body {
	font: 8pt "Lucida Sans", Lucida, Verdana, sans-serif;
}

/* Layout */

#content {
	
}

.record{
	
}

table {
	width: 100%;
	border-style: none;
/*	border: 1px solid #999;*/
	margin-top: 4px;
}

td.title {
	
}

td.search {
	text-align: right;
	vertical-align: top;
	font-size: 10pt;
	width: 25px;
}

td.left {
	/* The table has a wider margin on the right
	   So, to center the inter-column space, the left column need to be a bit larger */
	width:  51.3%;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 8px;
}

td.right {
	width:  48.7%;
	vertical-align: top;
	padding-left: 8px;
	/* Should be 10 to be equivalent to the left column 
	   But we compensate larger right margin here */
	padding-right: 6px;
}

p {
	
}

p.spacer {
	font-size: 3pt;
}

/* NB: styling links does not work in the preview pane */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* Regions */
.title {
	font-weight: bold;
	font-size: 1.3em;
}

.pubInfo {
	
}

.metadata {
	margin-top: 10px;
}

.abstract {
/*	text-align: justify;*/
}

.annote {
/*	text-align: justify;*/
}

.skimNotes {
/*	text-align: justify;*/
}

/* Short fields */
.authors{
	
}

.container {
	font-style: italic;
}

.date {
	font-weight: bold;
}

.fieldName {
	font-weight: bold;
}

/* Colors */
.downlight{
	/* Grey */
	color: #787878;
}

.highlight {
	/* Redish = "Cayenne" in crayons */
	color: #800000;
/*	color: black;*/
}