/* Initialize */
* {
	margin: 0;
	padding: 0;
}

/* General setup */
body {
	font: 14pt BlinkMacSystemFont, "Sketchnote Text", "iA Writer Quattro", "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Layout */

table {
	width: 1000%; /* strange "bug" which makes 100% not enough*/
	border-style: none;
/*	border: 1px solid #999;*/
}

td {
/*	border: 1px solid #999;*/
}

.title-table {
	margin: 6px 6px 0px 6px;
}

td.title {
	font-weight: bold;
	font-size: 1.3em;
}

td.search {
	text-align: right;
	vertical-align: top;
	font-size: 1.3em;
	width: 3%;
}

.content-table {
	margin: 3px 6px 6px 6px;
}

td.left {
	width: 50%;
	vertical-align: top;
	padding-right: 5px;
}

td.right {
	width: 50%;
	vertical-align: top;
	padding-left: 5px;
}

/* Regions */
.info {
	/* light grey */
	color: #787878;
}

.metadata {
	/* redish = "Cayenne" in crayons */
	color: #800000;
}

.abstract {
/*	text-align: justify;*/
}

.annote {
/*	text-align: justify;*/
}

.skimNotes {
	/* yellowish */
	color: #ac9723;
}


/* Fields */
.authors{
	
}

.container {
	font-style: italic;
}

.date {
	font-weight: bold;
}

.fieldName {
	font-weight: bold;
}


/* NB: styling links does not work in the preview pane */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

